﻿@model Contrib.Events.ViewModels.AdminEditViewModel

@{
    Style.Require("Events_Edit");
    Script.Require("GoogleMaps");
    Script.Require("jQueryAutoGeocode");
}

<fieldset>
    <legend>
        @T("Event Date")
    </legend>
    <ol>
        <li>
            @Html.EditorFor(m => m.StartDateEditor)
            @T("-")
            @Html.EditorFor(m => m.EndDateEditor)
            <span class="hint">@T("If End Date is not specified, Start Date will be used.")</span>
        </li>
    </ol>
</fieldset>

<fieldset>
    <ol>
        <li>
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Website)
            @Html.TextBoxFor(m => m.Website, new { @class = "text" })
        </li>
    </ol>
</fieldset>

<fieldset>
    <ol>
        <li>
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { @class = "text medium" })
        </li>
        <li>
            @Html.LabelFor(m => m.AdditionalAddressInfo, T("Additional Address Info"))
            @Html.TextBoxFor(m => m.AdditionalAddressInfo, new { @class = "text large" })
            <span class="hint">e.g. "south area of Park"</span>
        </li>
        <li>
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.State)
            @Html.TextBoxFor(m => m.State, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.ZipCode, T("ZIP Code"))
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "text" })
        </li>
    </ol>
</fieldset>

<fieldset>
    <legend>GPS Information</legend>
    <ol>
        <li>
            <span class="geocodeStatus">
            </span>
        </li>
        <li>
            @Html.LabelFor(m => m.GpsLat, T("Latitude"))
            @Html.TextBoxFor(m => m.GpsLat, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.GpsLng, T("Longitude"))
            @Html.TextBoxFor(m => m.GpsLng, new { @class = "text" })
        </li>
    </ol>
</fieldset>

<fieldset>
    <legend>Contact Information</legend>
    <div class="expando">
        <ol>
            <li>
                @Html.LabelFor(m => m.ContactName, T("Name"))
                @Html.TextBoxFor(m => m.ContactName, new { @class = "text" })
            </li>
            <li>
                @Html.LabelFor(m => m.ContactPhone, T("Phone"))
                @Html.TextBoxFor(m => m.ContactPhone, new { @class = "text" })
            </li>
            <li>
                @Html.LabelFor(m => m.ContactEmail, T("Email"))
                @Html.TextBoxFor(m => m.ContactEmail, new { @class = "text" })
            </li>
        </ol>
    </div>
</fieldset>

@using (Script.Foot()) {

@* generates the localization script *@
@Display(New.DatePickerLocalization())
@Display(New.TimePickerLocalization())

<script type="text/javascript">
//<![CDATA[
    $(function () {

        var clearHint = function ($this) { if ($this.val() == $this.data("hint")) { $this.removeClass("hinted").val(""); } };
        var resetHint = function ($this) { setTimeout(function () { if (!$this.val()) { $this.addClass("hinted").val($this.data("hint")); } }, 300); };
        
        $("label.forpicker").each(function () {
            var $this = $(this);
            var pickerInput = $("#" + $this.attr("for"));
            if (!pickerInput.val()) {
                pickerInput.data("hint", $this.text());
                pickerInput.addClass("hinted")
                    .val(pickerInput.data("hint"))
                    .focus(function() {clearHint($(this));})
                    .blur(function() {resetHint($(this));});
                $this.closest("form").submit(function() {clearHint(pickerInput); pickerInput = 0;});
            }
        });

        $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("StartDate")').datepicker({ showAnim: ""});
        $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("EndDate")').datepicker({ showAnim: ""});
        $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("StartTime")').timepicker({ stepMinute: 5 });
        $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("EndTime")').timepicker({ stepMinute: 5 });

        autoGeocode({
            latitudeField: "[id$=GpsLat]",
            longitudeField: "[id$=GpsLng]",
            addressField: "[id$=Address]",
            cityField: "[id$=City]",
            stateField: "[id$=State]",
            zipField: "[id$=ZipCode]",
            statusField: ".geocodeStatus"
        });
    })
//]]>
</script>
}
