﻿@using Contrib.Events
@using Contrib.Events.ViewModels
@using Orchard.Core.Contents
@{
    Layout.Title = T("Manage Events").ToString();
}
@using (Html.BeginFormAntiForgeryPost())
{
    @Html.ValidationSummary()
    <fieldset class="bulk-actions">
        <label for="publishActions">@T("Actions:")</label>
        <select id="publishActions" name="Options.BulkAction">
            @Html.SelectOption((EventsBulkAction)Model.Options.BulkAction, EventsBulkAction.None, T("Choose action...").ToString())
            @Html.SelectOption((EventsBulkAction)Model.Options.BulkAction, EventsBulkAction.Publish, T("Publish Now").ToString())
            @Html.SelectOption((EventsBulkAction)Model.Options.BulkAction, EventsBulkAction.Unpublish, T("Unpublish").ToString())
            @Html.SelectOption((EventsBulkAction)Model.Options.BulkAction, EventsBulkAction.Delete, T("Remove").ToString())
        </select>
        <input class="button" type="submit" name="submit.BulkEdit" value="@T("Apply")" />
    </fieldset>
    <fieldset class="bulk-actions">
        <label for="orderResults" class="bulk-order">@T("Ordered by")</label>
        <select id="orderResults" name="Options.OrderBy">
            @Html.SelectOption((EventsOrder)Model.Options.OrderBy, EventsOrder.StartDate, T("start date").ToString())
            @Html.SelectOption((EventsOrder)Model.Options.OrderBy, EventsOrder.EndDate, T("end date").ToString())
            @Html.SelectOption((EventsOrder)Model.Options.OrderBy, EventsOrder.Created, T("recently created").ToString())
            @Html.SelectOption((EventsOrder)Model.Options.OrderBy, EventsOrder.Modified, T("recently modified").ToString())
            @Html.SelectOption((EventsOrder)Model.Options.OrderBy, EventsOrder.Published, T("recently published").ToString())
        </select>
        <label for="filter" class="bulk-order">@T("filter by")</label>
        <select id="filter" name="Options.Filter">
            @Html.SelectOption((EventsStatus)Model.Options.Filter, EventsStatus.Active, T("active").ToString())
            @Html.SelectOption((EventsStatus)Model.Options.Filter, EventsStatus.Archived, T("archived").ToString())
            @Html.SelectOption((EventsStatus)Model.Options.Filter, EventsStatus.Pending, T("pending").ToString())
            @Html.SelectOption((EventsStatus)Model.Options.Filter, EventsStatus.All, T("all").ToString())
        </select>
        <button type="submit" name="submit.Filter" value="yes please">@T("Apply")</button>
    </fieldset>
    if (Authorizer.Authorize(EventPermissions.EditOwnContent))
    {
        <div class="manage">
                @Html.ActionLink("Add an event", "Create", new { Area = "Contents", Controller="Admin", Id = "Event" }, new { @class = "button primaryAction" })
        </div>
    }
    <fieldset class="contentItems bulk-items">
        @Display(Model.ContentItems)
    </fieldset>

    @Display(Model.Pager)
}
