﻿@using (Html.BeginForm("List", "Event", new { Area = "Contrib.Events" }, FormMethod.Get, new { @class = "search-form" }))
{
    <fieldset>
        @Html.Label("keywords", "Keywords")
        @Html.TextBox("keywords")

        @Html.Label("startDate", "Start Date")
                @Html.TextBox("startDate", null, new { type = "date" })

        @Html.Label("endDate", "End Date")
        @Html.TextBox("endDate", null, new { type = "date" })

        <button type="submit">@T("Search")</button>
    </fieldset>
}