﻿@using Contrib.Events.Models;
@{
    EventPart eventPart = Model.ContentPart;
}
<ul class="pageStatus">
    @* Future *@
    @if (eventPart.StartDate > DateTime.Now)
    {
        <li><img class="icon" src="@Href("~/Modules/Contrib.Events/Content/Admin/images/future.gif")" alt="@T("Upcoming")" title="@T("The event is upcoming")" /> </li>
        <li> @T("Starting {0}", Display.DateTimeRelative(dateTimeUtc: eventPart.StartDate))&nbsp;&#124;&nbsp;</li>
    }
    @* Current *@
    else if (eventPart.EndDate > DateTime.Now)
    {
        <li><img class="icon" src="@Href("~/Modules/Contrib.Events/Content/Admin/images/current.gif")" alt="@T("Current")" title="@T("The event is currently active")" /> </li>
        <li>@T("Ending {0}", Display.DateTimeRelative(dateTimeUtc: eventPart.EndDate))&nbsp;&#124;&nbsp;</li>
    }
    @* Past *@
    else
    {
        <li><img class="icon" src="@Href("~/Modules/Contrib.Events/Content/Admin/images/Past.gif")" alt="@T("Ended")" title="@T("The event is Past")" /> </li>
        <li>@T("Ended {0}", Display.DateTimeRelative(dateTimeUtc: eventPart.EndDate))&nbsp;&#124;&nbsp;</li>
    }
</ul>