﻿@using Contrib.Events.ViewModels;
@{
    var eventModel = Model.ContentItem.EventPart;
    Script.Require("jQuery");
    Script.Require("GoogleMaps");
    Style.Require("Events_Detail");
}

<div class="event">
    <div class="event-date">
        @Display.DateTime(DateTimeUtc: eventModel.StartDate, CustomFormat: T("D"))

        @if (eventModel.StartDate.Date != eventModel.EndDate.Date)
        {
            @:- @Display.DateTime(DateTimeUtc: eventModel.EndDate, CustomFormat: T("D"))
        }
    </div>

    <div class="event-info">
        <div class="event-exactLocation">
            <dl>
                <dt>Address</dt>
                <dd>
                    <div class="event-address">
                        @if (!String.IsNullOrWhiteSpace(eventModel.Address))
                        {
                            @eventModel.Address <br />
                        }

                        @if (!String.IsNullOrWhiteSpace(eventModel.AdditionalAddressInfo))
                        {
                            @eventModel.AdditionalAddressInfo <br />
                        }

                        @eventModel.CityStateZip
                    </div>
                </dd>
            </dl>
        </div>

        @if (!String.IsNullOrWhiteSpace("" + eventModel.ContactName + eventModel.ContactEmail + eventModel.ContactPhone))
        {
            <div class="event-contact">
                @if (!String.IsNullOrWhiteSpace(eventModel.ContactName))
                {
                    <dl class="event-contactName">
                        <dt>Contact: </dt>
                        <dd>@eventModel.ContactName</dd>
                    </dl>
                }
                @if (!String.IsNullOrWhiteSpace(eventModel.ContactPhone))
                {
                    <dl>
                        <dt>Phone: </dt>
                        <dd>@eventModel.ContactPhone</dd>
                    </dl>
                }
                @if (!String.IsNullOrWhiteSpace(eventModel.ContactEmail))
                {
                    <dl>
                        <dt>Email: </dt>
                        <dd>@eventModel.ContactEmail</dd>
                    </dl>
                }
            </div>
        }    
    </div>
    
    @if (eventModel.HasCoordinates) {
    <div class="event-googleMap">
        <div class="event-googleMapCanvas"></div>
    </div>
    }
</div>

@using (Script.Foot()) {
    if (eventModel.HasCoordinates) {
         <script type="text/javascript">
             $(function () {
                 var mapElement = $(".event-googleMapCanvas");
                 var latitude = "@eventModel.GpsLat";
                 var longitude = "@eventModel.GpsLng";
                 if (mapElement.length > 0) {
                     var latLng = new google.maps.LatLng(latitude, longitude);

                     var myOptions = {
                         center: latLng,
                         zoom: 7,
                         mapTypeId: google.maps.MapTypeId.ROADMAP
                     };

                     var map = new google.maps.Map(mapElement.get(0), myOptions);

                     var marker = new google.maps.Marker({
                         position: latLng,
                         animation: google.maps.Animation.DROP,
                         map: map
                     });
                 } else {
                     //No map object, so don't bother
                 }
             })
    
         </script>
     }
}