﻿@using System.Globalization
@{
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("events");
}

@Display(Model.EventSearch)

<div class="months">
    @{
        int currentMonth;

        Int32.TryParse(Request.QueryString["month"], out currentMonth);
    }
    @foreach (int month in Model.Months) {
        if (month == currentMonth) {
            <b>@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedMonthName(month)</b>
        }
        else {
            <a href="?month=@month">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedMonthName(month)</a>
        }
        @T("|")
    }

    @if (currentMonth == 0) {
        <b>All</b>
    }
    else {
        <a href="@Request.Path">All</a>
    }
</div>

@Display(Model.ContentItems)

@if (Model.ContentItems.Items.Count < 1)
{
    <p>@T("No events found.")</p>
}

@Display(Model.Pager)