.event-date
{
    margin-bottom:.5em;    
}

.event-info
{
    overflow: hidden;
}

.event-info dl
{
    margin-bottom:0;
}

.event-info dl dt
{
    display: inline;
    font-weight: bold;
}

.event-info dl dd
{
    display: inline;
}

.event-exactLocation
{
    width: 50%;
    float: left;
}

.event-contact
{
    width: 50%;
    float: right;
}

.event-contact dl.event-contactName
{
    font-size: 1.1em;
}

.event-googleMap
{
    width: 200px;
    float: right;
}

.event-googleMapCanvas
{
    height: 200px;
    border: 1px solid;
}